.my-navbar {
  overflow:none;
  width: 100vw;
  -webkit-box-shadow: 0px 10px 30px rgba(216, 216, 216, 0.45);
  box-shadow: 0px 10px 30px rgba(216, 216, 216, 0.45);
  position: fixed;
  z-index: 1000;
}

.navbar-brand img {
  width: 5rem;
}

.nav-link {
  margin-right: 2.4rem;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  color: #333333;
}

.nav-link:hover {
  color: #0087bd;
}

.nav-active a {
  color: #0087bd;
  font-weight: 600;
}